{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/page-about.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="mob-hidden">
        <div class="container">
            <div class="bread-block">
                <div class="breadcrumbs">
                    <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a href="/about-us/" itemprop="item">
                                <span itemprop="name">About Us</span>
                                <meta itemprop="position" content="2" />
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <meta itemprop="position" content="1" />
                            </a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
                <div class="media-block">
                    <span>Social Media</span>
                    <a href="https://www.facebook.com/terrahubcorp" alt="TerraHub on Facebook" target="_blank" rel="noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.twitter.com/terrahubcorp" alt="TerraHub on Twitter" target="_blank" rel="noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/terrahubcorp" alt="TerraHub on LinkedIn" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
            <hr class="line-gray">
        </div>
        <div class="container about-us">
            <div class="space-left-right">
                <h1 class="center space-up main-title">About Us</h1>
                <ul class="bullets">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="wrapper-img">
                    <img  src='{{ asset('@img/about-us.svg') }}' alt="TerraHub Logo"/>
                </div>

                <div class="flex-row info-about">
                    <div class="flex-item-6">
                        <p class="text-robotoslab">
                            Our mission is to enable businesses and developers to provide high-value products and services in a constantly changing digital world.
                        </p>
                    </div>
                    <div class="flex-item-6 info">
                        <p>
                            Managing IT in the cloud is arguably NOT getting easier because of so many solutions to similar problems that get customers lost or overwhelmed. Public cloud providers like Amazon Web Services, Microsoft Azure or Google Cloud Platform are releasing services and features on daily basis, forcing everybody else to adopt flexible change management processes and policies.
                        </p>
                        <p>
                            TerraHub was created as a response to growing complexity associated with cloud. We are providing incremental value by managing large amount of cloud services and cloud resources that run in customers' private networks built on top of public clouds. We engage a business model that consists of managed services by providing support and management of terraform, as well as professional services by building and deploying terraform automation.
                        </p>
                        <a href="/how-it-works/" class="learn-more">Learn More About How It Works <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="light-block about">
            <div class="container">
                <h4 class="title-blue center space-up">TerraHub Team</h4>
                <h3 class="info-text center">Continuously managing and improving on behalf of customers and partners</h3>
                <ul class="bullets">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="display-grid space-left-right">
                    <div class="blocks flex-column" itemscope itemtype="http://schema.org/Person">
                        <div class="header">
                            <div class="avatar">
                                <img src="{{ asset('@img/team/eugene.png') }}" itemprop="image" alt="Eugene Istrati" />
                            </div>
                            <div class="description">
                                <label class="title-slab" itemprop="name">Eugene Istrati</label>
                                <p>Product</p>
                            </div>
                        </div>
                        <div class="dots info" itemprop="description">
                            <p>
                                Eugene Istrati has spent almost two decades as a technologist in a variety of industries, including digital media, cloud computing, and reputation marketing. He is a visionary and goal-oriented technology leader, with demonstrated experience in planning, developing and implementing cutting edge information solutions to address business opportunities.
                            </p>
                            <div class="hidden-block hidden">
                                <p>
                                    Before co-founding Mitoc Group, Eugene worked as Director of Engineering at Hearst Corporation. He helped iconic publisher to redefine and transform their business in the digital world. Prior, Mr. Istrati worked as Program Manager at Amazon Web Services, helping businesses and developers accelerate their cloud computing journeys on AWS cloud.
                                </p>
                                <p>
                                    Eugene blogs occasionally and speaks at industry conferences, technology meetups and other similar events. He has presented at ServerlessConf 2017 and AWS re:Invent 2017 on his favorite topic – serverless computing.
                                </p>
                                <p>
                                    He graduated from University of Oradea, Romania with a dual Bachelor of Science degree in Mathematics and Computer Science and a Master of Science degree in Computer Science and Engineering. His masters degree was later assessed and validated by University of Columbia, New York.
                                </p>
                            </div>
                        </div>
                        <div class="display-flex media">
                            <div class="media-block">
                                <a href="https://www.linkedin.com/in/eistrati/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/eistrati" target="_blank" rel="noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                            <div class="more team-show-more"><a class="learn-more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            <div class="more team-less-more hidden"><a class="learn-more">Read less <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="blocks flex-column" itemscope itemtype="http://schema.org/Person">
                        <div class="header">
                            <div class="avatar">
                                <img src="{{ asset('@img/team/diana.png') }}" itemprop="image" alt="Diana Ursu" />
                            </div>
                            <div class="description">
                                <label class="title-slab" itemprop="name">Diana Ursu</label>
                                <p>Business</p>
                            </div>
                        </div>
                        <div class="dots info" itemprop="description">
                            <p>
                                Diana Ursu is an ambitious and confident leader, who work effectively in a fast-moving organization. She spent over fifteen years helping companies in many business aspects, including management and control, as well as development and marketing, by asking the right questions and finding the optimal paths to profit.
                            </p>
                            <div class="hidden-block hidden">
                                <p>
                                    Diana has the ability to commit to a bigger cause and possesses values like common sense, people and relationship skills, curiosity and critical thinking, tolerance and risk taking, admiration and respect for entrepreneurship.
                                </p>
                                <p>
                                    Before co-founding Mitoc Group, Mrs. Ursu worked as Global Business Development at Michael C. Fina in New York. She contributed to company's expansion into Europe, China and Latin America, generating over $10M in new opportunities. Prior, Diana held various positions across Business Development, Industrial Management, Commercial Planning and Marketing for multi billion dollar corporation, Tenaris.
                                </p>
                                <p>
                                    Diana holds a Bachelor Degree in Finance from Aurel Vlaicu University, Romania.
                                </p>
                            </div>
                        </div>
                        <div class="display-flex media">
                            <div class="media-block">
                                <a href="https://www.linkedin.com/in/dursu/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/dianaursu" target="_blank" rel="noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                            <div class="more team-show-more"><a class="learn-more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            <div class="more team-less-more hidden"><a class="learn-more">Read less <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="blocks flex-column" itemscope itemtype="http://schema.org/Person">
                        <div class="header">
                            <div class="avatar">
                                <img src="{{ asset('@img/team/emil.png') }}" itemprop="image" alt="Emil Urechean" />
                            </div>
                            <div class="description">
                                <label class="title-slab" itemprop="name">Emil Urechean</label>
                                <p>Engineering</p>
                            </div>
                        </div>
                        <div class="dots info" itemprop="description">
                            <p>
                                Emil Urechean is a senior engineer with over 10 years of experience who helps cloud users to make their processes automatic.
                            </p>
                            <div class="hidden-block hidden">
                                <p>
                                    Emil worked as a software engineer and a system architect at leading IT organizations in Moldova. His successful career includes major achievements in implementing digital public services for government agencies, as well as invoice processing automation for several local banks.
                                </p>
                                <p>
                                    Emil's passion nowadays consists in helping customers to build and migrate IT infrastructures on AWS cloud using Terraform. Besides that, he frequently enjoys cycling and watching sci-fi movies.
                                </p>
                            </div>
                        </div>
                        <div class="display-flex media">
                            <div class="media-block">
                                <a href="https://www.linkedin.com/in/emil-urechean-a61b8599/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <div class="more team-show-more"><a class="learn-more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            <div class="more team-less-more hidden"><a class="learn-more">Read less <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="blocks flex-column" itemscope itemtype="http://schema.org/Person">
                        <div class="header">
                            <div class="avatar">
                                <img src="{{ asset('@img/team/irina.png') }}" itemprop="image" alt="Irina Tcaciuc" />
                            </div>
                            <div class="description">
                                <label class="title-slab" itemprop="name">Irina Tcaciuc</label>
                                <p>Engineering</p>
                            </div>
                        </div>
                        <div class="dots info" itemprop="description">
                            <p>
                                Irina Tcaciuc is one of core team members focusing on front end development, user design and user experience.
                            </p>
                            <div class="hidden-block hidden">
                                <p>
                                    On a daily basis, Irina is working with HTML, CSS and JS. She makes web applications to look very nice and very useful on any device and any screen width. It takes a lot of effort to build something that people like, but results bring satisfaction when everything just works.
                                </p>
                                <p>
                                    Additionally to her professional career and lifetime passion, Irina enjoys hobbies like cycling, paiting and reading books.
                                </p>
                            </div>
                        </div>
                        <div class="display-flex media">
                            <div class="media-block">
                                <a href="https://www.linkedin.com/in/irina-tkaciuk-b67182100/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/ira.tkaciuk" target="_blank" rel="noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </div>
                            <div class="more team-show-more"><a class="learn-more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            <div class="more team-less-more hidden"><a class="learn-more">Read less <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="blocks flex-column" itemscope itemtype="http://schema.org/Person">
                        <div class="header">
                            <div class="avatar">
                                <img src="{{ asset('@img/team/alex.png') }}" itemprop="image" alt="Alexandr Vozicov" />
                            </div>
                            <div class="description">
                                <label class="title-slab" itemprop="name">Alexandr Vozicov</label>
                                <p>Engineering</p>
                            </div>
                        </div>
                        <div class="dots info" itemprop="description">
                            <p>Alexandr Vozicov is Project Manager specializing in management of IT projects and IT engineers. Prior, he worked as Quality Assurance Engineer and built automation tests for web applications and rest apis.</p>
                            <div class="hidden-block hidden">
                                <p>
                                    On a daily basis, Alex participates in every phase of the software development lifecicle processes to ensure product quality and successful deliverables.
                                </p>
                                <p>
                                    Mr. Vozicov is passionate about producing and performing electronic music and visual art. His perfectionism makes him good in both professional career and personal hobbies.
                                </p>
                            </div>
                        </div>
                        <div class="display-flex media">
                            <div class="media-block">
                                <a href="https://www.linkedin.com/in/alexandr-vozicov-860796106/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/alexandrvozicov" target="_blank" rel="noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </div>
                            <div class="more team-show-more"><a class="learn-more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            <div class="more team-less-more hidden"><a class="learn-more">Read less <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="blocks flex-column" itemscope itemtype="http://schema.org/Person">
                        <div class="header">
                            <div class="avatar">
                                <img src="{{ asset('@img/team/valeria.png') }}" itemprop="image" alt="Valeria Corostinscaia" />
                            </div>
                            <div class="description">
                                <label class="title-slab" itemprop="name">Valeria Corostinscaia</label>
                                <p>Engineering</p>
                            </div>
                        </div>
                        <div class="dots info" itemprop="description">
                            <p>
                                Valeria Corostinscaia is a front end engineer with an unlimited passion for technology and making customers facing interface work.
                            </p>
                            <div class="hidden-block hidden">
                                <p>
                                    Besides computers and information technologies, Valeria is passionate about healthy lifestyle. She enjoys a lot picking eco friendly products and engaging in eco friendly services. She is committed to apply eco friendly solutions to everyday life.
                                </p>
                                <p>
                                    Valeria is currently attending Technical University of Moldova, with focus on Computer Science and Engineering.
                                </p>
                            </div>
                        </div>
                        <div class="display-flex media">
                            <div class="media-block">
                                <a href="https://www.linkedin.com/in/valeria-corostinscaia-236752177/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=100004100827944" target="_blank" rel="noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </div>
                            <div class="more team-show-more"><a class="learn-more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            <div class="more team-less-more hidden"><a class="learn-more">Read less <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="blocks flex-column" itemscope itemtype="http://schema.org/Person">
                        <div class="header">
                            <div class="avatar">
                                <img src="{{ asset('@img/team/vladislav.png') }}" itemprop="image" alt="Vladislav Polevoi" />
                            </div>
                            <div class="description">
                                <label class="title-slab" itemprop="name">Vladislav Polevoi</label>
                                <p>Engineering</p>
                            </div>
                        </div>
                        <div class="dots info" itemprop="description">
                            <p>Vladislav Polevoi is a young and promising JavaScript developer. He has very good experience in frontend development, design and implementation of web applications, as well as UI &amp; UX.</p>
                            <div class="hidden-block hidden">
                                <p>
                                    Vlad loves to learn and use bleeding-edge technologies. He is passionate about programming, solving challenges and puzzles, as well as enjoys music and games.
                                </p>
                                <p>
                                    Vlad is currently studying at Technical University of Moldova, with focus on Computer Science and Engineering.
                                </p>
                            </div>
                        </div>
                        <div class="display-flex media">
                            <div class="media-block">
                                <a href="https://www.linkedin.com/in/vlad-polevoi-3a0937138/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/vladzay1" target="_blank" rel="noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                            <div class="more team-show-more"><a class="learn-more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            <div class="more team-less-more hidden"><a class="learn-more">Read less <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="blocks flex-column" itemscope itemtype="http://schema.org/Person">
                        <div class="header">
                            <div class="avatar">
                                <img src="{{ asset('@img/team/vitalie.png') }}" itemprop="image" alt="Vitalie Calmic"/>
                            </div>
                            <div class="description">
                                <label class="title-slab" itemprop="name">Vitalie Calmic</label>
                                <p>Engineering</p>
                            </div>
                        </div>
                        <div class="dots info" itemprop="description">
                            <p>Vitalie Calmic is a young and optimistic IT Engineer who has recently started to embrace DevOps philosophy alongside with cloud and serverless computing.</p>
                            <div class="hidden-block hidden">
                                <p>
                                    He has great experience in automated infrastructure provisioning, continuous delivery and integration, as well as other DevOps best practices and front-line technologies.
                                </p>
                                <p>
                                    Vitalie's passion is to combine DevOps cultural philosophies, practices and tools together with his motivation and sagacity, so that he can help customers to achieve increased productivity and velocity for delivering best in class services on the market.
                                </p>
                                <p>
                                    Furthermore, he enjoys cycling, watching movies as well as landscape photography and cinematography.
                                </p>
                            </div>
                        </div>
                        <div class="display-flex media">
                            <div class="media-block">
                                <a href="https://www.linkedin.com/in/vcalmic/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/vitaliykalmyk" target="_blank" rel="noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                            <div class="more team-show-more"><a class="learn-more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            <div class="more team-less-more hidden"><a class="learn-more">Read less <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                    <div class="blocks flex-column" itemscope itemtype="http://schema.org/Person">
                        <div class="header">
                            <div class="avatar">
                                <img src="{{ asset('@img/team/maxim.png') }}" itemprop="image" alt="Maxim Ciuchitu" />
                            </div>
                            <div class="description">
                                <label class="title-slab" itemprop="name">Maxim Ciuchitu</label>
                                <p>Engineering</p>
                            </div>
                        </div>
                        <div class="dots info" itemprop="description">
                            <p>Maxim Ciuchitu is a back-end developer with a wide range of interests in Information Technologies area. Although his main work activity is programming in JavaScript, he is interested in other domains as well like cloud and serverless technologies, devops and system architecture.</p>
                            <div class="hidden-block hidden">
                                <p>
                                    Maxim is always eager to learn something new and to apply newly acquired knowledge not only to create new code but and to refactor the old one. Code quality is the thing he is really passionate about.
                                </p>
                                <p>
                                    Except his work Maxim enjoys music, roller skating, cycling, swimming and games.
                                </p>
                            </div>
                        </div>
                        <div class="display-flex media">
                            <div class="media-block">
                                <a href="https://www.linkedin.com/in/maxim-chukitu-758535174/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <div class="more team-show-more"><a class="learn-more">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            <div class="more team-less-more hidden"><a class="learn-more">Read less <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="center info-blocks">
                    <hr class="line-gray">
                    <a href="https://console.terrahub.io" class="btn-border-blue btn">Sign Up Today</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/page-about.min.js') }}"></script>
{% endblock %}
