{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/blog.min.css') }}" />
{% endblock %}

{% block body %}
    {% set featured = {} %}
    {% for item in blogs %}
        {% if item.featured > 0 %}
            {% set featured = featured|merge({(item.featured):item}) %}
        {% endif %}
    {% endfor %}
    <div class="mob-hidden">
        <div class="container">
            <div class="bread-block">
                <div class="breadcrumbs">
                    <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a href="/blog/" itemprop="item">
                                <span itemprop="name">Our Blog</span>
                                <meta itemprop="position" content="2"/>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <meta itemprop="position" content="1"/>
                            </a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
                <div class="media-block">
                    <span>Social Media</span>
                    <a href="https://www.facebook.com/terrahubcorp/" alt="TerraHub on Facebook" target="_blank" rel="noreferrer">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/terrahubcorp" alt="TerraHub on Twitter" target="_blank" rel="noreferrer">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/terrahubcorp" alt="TerraHub on LinkedIn" target="_blank" rel="noreferrer">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <hr class="line-gray">
            <div class="blogs firefox">
                <h1>Featured Post</h1>
                <div class="flex-row header-blog">
                    <div class="flex-item-6 first-b flex-column">
                        <a href="{{ featured[1].href }}">
                        <img src="{{ asset( featured[1].image ) }}" alt="Our Blog"/>
                        </a>
                        <p class="gray-blog">{{ featured[1].date }}</p>
                        <a href="{{ featured[1].href }}">
                        <h2>{{ featured[1].title }}</h2>
                        </a>
                        <p class="blog-post">{{ featured[1].description }}</p>
                        <div class="learn-more-b">
                            <a href="{{ featured[1].href }}" class="learn-more">Learn more
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="flex-item-6 small-blogs">
                    {% for i in [2, 3, 4] %}
                        {% if featured[i] %}
                        <div class="flex-row">
                            <div class="flex-item-6">
                                <a href="{{ featured[i].href }}">
                                <img src="{{ asset( featured[i].image ) }}" alt="Our Blog"/>
                                </a>
                            </div>
                            <div class="flex-item-6">
                                <div class="flex-column">
                                <p class="gray-blog">{{ featured[i].date }}</p>
                                <a href="{{ featured[i].href }}">
                                    <h3>{{ featured[i].title }}</h3>
                                </a>
                                <p class="blog-post">{{ featured[i].description }}</p>
                                <a href="{{ featured[i].href }}" class="learn-more">Learn more
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="subscribe">
                <div class="blog-subscribe center flex-column">
                    <h1 class="title-blue center">Subscribe to our Blog</h1>
                    <p class="info-text center-block">
                        You will never miss the latest updates anymore!
                    </p>
                    <ul class="bullets">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="center input-s">
                    <span class="input_button input-hover">
                        <form id="subscribe-form-blog" action="#" method="post">
                            <div class="mc-form-group-EMAIL input_button input-hover">
                                <input id="e-mail" name="EMAIL" type="email" class="input"
                                       placeholder="Your Email"/>
                                <div class="mc-error"></div>
                            </div>
                            <div id="mc-general"></div>
                            <div>
                                <span class="btn-circle"><i class="fa fa-angle-right" id="submit-blog-subscride" aria-hidden="true"></i></span>
                            </div>
                        </form>
                    </span>
                        <p>
                            By subscribing you agree to the
                            <a href="/terms-conditions/" class="link-text">terms &amp; conditions.</a>
                            Nothing nasty, no spam.
                        </p>
                    </div>
                </div>
            </div>

            <div class="blogs all-blocks firefox">
                <h4>All Posts</h4>
                <div class="display-flex">
                    {% for item in blogs %}
                        <div class="width-block">
                            <div class="image-block-post">
                                <a href="{{ item.href }}">
                                <img src="{{ asset( item.image ) }}" alt="Our Blog"/>
                                </a>
                            </div>
                            <p class="gray-blog">{{ item.date }}</p>
                            <a href="{{ item.href }}">
                            <h3>{{ item.title }}</h3>
                            </a>
                            <p class="blog-post">{{ item.description }}</p>
                            <div class="learn-more-b">
                                <a href="{{ item.href }}" class="learn-more">Learn more
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="center small-space disable-btn">
                    <a href="#" class="btn-border-blue btn">Show More</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/blog.min.js') }}"></script>
{% endblock %}
